*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

background:#f4f6f9;

}


nav{

background:#0d6efd;
color:white;
padding:20px 50px;

}



.dashboard{

padding:50px;

text-align:center;

}



.cards{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

margin-top:30px;

}



.card{

background:white;

width:220px;

padding:30px;

border-radius:12px;

box-shadow:0 3px 10px rgba(0,0,0,0.1);

}



.card h2{

font-size:35px;

color:#0d6efd;

}


.card p{

margin-top:10px;

color:#555;

}